/* Box Model Hack */

* {
    box-sizing: border-box;
  }
/* Outline for CSS Diagnosis */

*{
    outline: black 1px solid;
}
/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* Clear Hack */

.clear {
    clear: both;
}
/* Base work of css file*/

body{
    background-image: linear-gradient(to right, #090d14, #121e36, #133061);
    color: white;
    display:block;
    justify-content: center;
    align-content: center;
}
/*Set form for ARKS Card ID*/

#titleCenter h1 {
    text-align: center;
}
#logoTitle {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 15px;
}
#arksLogo {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 15px;
    height: 300px;
}
#arksCardBuildSection {
    display: flex;
    justify-content: space-evenly;
}
#arksCardBuildSection button {
    margin-top: 50px;
    margin-left: 110px;
    background-image: linear-gradient(to left, #5b7aaf, #133061);
    color:#ffffff;
    font-size: 150%;
}
button:hover {
    transform: scale(1.1);
}
form {
    margin-bottom: 50px;
    height: 480px;
    background-image: linear-gradient(to right, #192436, #284174, #1e4a97);
}
.form-element {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    min-width: 200px;
}
.form-image {
    margin-top: 15px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    min-width: 200px;
}
.form-label {
    min-width: 150px;
}
/* Sets the ARKS-ID's Height and Width */
#logoCardTitle {
    display: none;
    justify-content: center;
    margin: 20px;
    padding: 15px;
}
#arksCard{
    width:  75vw;
    height: auto;
    display: none;
}
#arksCard > *{
    margin:0;
}
/* Player Biography settings, allows for the biography to stay centered in the left side of the ARKS-ID.*/

.biography{
    width: 100%;
    justify-content: center;
}
/* This allows for the background color of the biography field to stay reasonably spaced away from the text. Sets the Biography to 75% Width of the Left side of the ARKS-ID.*/

#biography{
    background-color: #0d141e;
    width: 100%;
    padding: 2%;
    height: 415px;
}
/* Attaches the Header to the Main ARKS-ID. Disconnects if not set.*/

.cardHeader>*{
    margin:0;
}
/* The Base of the ARKS-ID. Sets the background color, and flex properties.*/

.cardContainer{
    background-color: #151e2f;
    display: flex;
    flex-direction: row;
    height: 630px;
}
/* Since there are only 2 sections to the ARKS-ID. The Width of every section is set to 50% This divides the ID in Half.*/

.cardContainer>*{
    width: 50%;
}
/* Transparant border to avoid text contacting the character profile.*/

.cardInformation {
    border: 5px transparent solid;
}
/* Align the Right Side of the ARKS-ID Stacks the Picture on top of the banner If you want, you can put it below the banner by reversing the order in the HTML File.*/

.cardPictures{
    display: flex;
    flex-direction: column;
}
/* Allows for the Pictures to take up all of the right side. */

.cardPictures>*{
    width: 100%;
}
/* Allows for the space in between the label and Information Just like in-game.*/

.cardInformation > *{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #283140;
}
/* Centers the title on the ARKS ID's Left Side.*/

.cardTitleWrapper{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
/* Centers the Sticker and constrains it to be slightly smaller than the biography.*/



.stickerField{
    display:flex;
    justify-content: center;
    height: 86px;
    border-bottom: none;
}
.stickerField>*{
    width:100%;
}
#idSticker{
    height:95%;
    background-position: center;
    background-size: cover;
}
/* Adds the Neccessary Spacing between the Buttons */
.editButtons{
    justify-content: space-around;
}
#idPicture {
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* Style button*/
#download {
    background-image: linear-gradient(to left, #5b7aaf, #133061);
    color: #ffffff;
    margin-top: 45px;
    font-size: 150%;
    display: none;
}

/******************
 **** COLORING ****
 ******************/

/* The Coloring for the header */

.cardHeader{
    background-color: #2e6297;
}
/* The same blue coloring for system and title text in PSO2 */

.systemColor{
    color: #82cefa;
}
/*Add media query to adjust size of ARKS Card from devices resolution*/

@media all and (max-width:950px) {
    /*ARKS ID Card form*/
    /*Responsive logo*/
    
    #logoTitle img {
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /*Responsive height of ARKS form*/

    #arksCardBuildSection {
        height: auto;
    }
    /*Responsive size of the form*/

    form {
        height: auto;
    }
    /*Adjust the display of .form-element*/

    .form-element {
        display: block;
    }
    .form-label {
        text-align: center;
    }
    /*Adjust the display of .form-image*/

    .form-image {
        display: block;
        margin-left: 20px;
    }
    .form-image input {
        width: 75%;
    }
    /*Responsive input size*/
    
    input {
        width: 100%;
    }
    /*Center bottom button in the form*/

    #arksCardBuildSection button {
        margin-top: 30px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 30px;
    }
    /*Hide ARKS logo*/

    #arksLogo {
        display: none;
    }
    #logoCardTitle img {
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media all and (max-width:700px) {
    #arksCard {
        width: 100%;
    }
    form {
        display: block;
    }
}

@media all and (max-width:400px) {
    .systemColor {
        font-size: 12px;
    }
    #playerIDName {
        font-size: 12px;
    }
    #playerID {
        font-size: 12px;
    }
    #recentCharacter {
        font-size: 12px;
    }
    #currentTeam {
        font-size: 12px;
    }
}

@media all and (max-width:375px) {
    
}

@media all and (max-width:280px) {
    .systemColor {
        font-size: 12px;
    }
    #playerIDName {
        font-size: 12px;
    }
    #playerID {
        font-size: 12px;
    }
    #recentCharacter {
        font-size: 12px;
    }
    #currentTeam {
        font-size: 12px;
    }
}

@media all and (min-width:1280px) {
    #arksCard {
        width: 1000px;
        height: 650px;
    }
}
