<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARKS-ID</title>
        <link rel="stylesheet" href="css/card.css">
        <link rel="icon" type="image/record-icon" href="/css/assets/logos/ngs_arks_logo.jpg">
    </head>
    <body>
        <!-- Make the ARKS-ID-->
        <!--Title of the ARKS ID Card Form-->
        <header id="titleCenter">
            <h1 class="center">ARKS Card ID Generator</h1>
        </header>
        <!--Logo of the Form Route-->
        <section id="logoTitle">
            <a href="/"><img src="/css/assets/logos/ngs_title.png"></a>
        </section>
        <!--Section for the form to generate the PSO2 ARKS ID Card-->
        <section id="arksCardBuildSection">
            <!--Form to fill out information for the ARKS ID Card to generate-->
            <form onsubmit="return false">
                <div class="form-element">
                    <label class="form-label">
                        Enter ARKS Title:
                    </label>
                    <input type="text" id="insertCardTitle" maxlength="32"/>
                </div>
                <!--Form for Player ID Name-->
                <div class="form-element">
                    <label class="form-label">
                        Enter Player ID Name:
                    </label>
                    <input type="text" id="insertIDName" maxlength="12"/>
                </div>
                <!--Form for Player ID-->
                <div class="form-element">
                    <label class="form-label">
                        Enter Player ID:
                    </label>
                    <input type="text" id="insertPlayerName" maxlength="8"/>
                </div>
                <!--Form for Recent Character-->
                <div class="form-element">
                    <label class="form-label">
                        Enter Recent Character:
                    </label>
                    <input type="text" id="insertCharacter" maxlength="12"/>
                </div>
                <!--For for team-->
                <div class="form-element">
                    <label class="form-label">
                        Enter Team:
                    </label>
                    <input type="text" id="insertTeam" maxlength="12"/>
                </div>
                <!--Form for Biography-->
                <div class="form-element">
                    <label class="form-label">
                        Enter Biography:
                    </label>
                    <textarea cols="33" rows="5" type="text" id="insertBio" maxlength="1500"></textarea>
                </div>
                <!--Form for Image-->
                <div class="form-image">
                    <label class="form-label">
                        Insert Sticker Image:
                    </label>
                    <input type ="file" id="stickerPicture" accept="image/png, image/jpg">
                </div>
                <!--Form for Character Image-->
                <div class="form-image">
                    <label class="form-label">
                        Insert Character Image:
                    </label>
                    <input type ="file" id="characterPicture" accept="image/png, image/jpg">
                </div>
                <button onclick="generateArksCard()">Generate ARKS Card</button>
            </form>
        </section>
        <section id="arksLogo">
            <img src="/css/assets/logos/ngs_arks_logo.png">
        </section>
        <!--Side note: most of these IDs and classes are just made for easy access. If you need to change them, please don't hesitate to; it's for science!-->
        <section id="logoCardTitle">
            <a href="/"><img src="/css/assets/logos/ngs_title.png"></a>
        </section>
        <section id="arksCard">
            <!-- Card Header -->
            <header class="cardHeader">
                <h3>Basic Data</h3>
            </header>
            <!-- Main Card Region -->
            <main class="cardContainer">
                <!-- Left-Hand Side (Where the Player Information Goes)-->
                <div class="cardInformation">
                    <!-- The Player's Title -->
                    <div class="systemColor cardTitleWrapper">
                        <span id="cardTitle" ></span>
                    </div>
                    <!-- The Player's SEGA ID -->
                    <div class="playerIDNameField">
                        <span class="systemColor">Player ID Name</span>
                        <span id="playerIDName">Temporary</span>
                    </div>
                    <!-- The Player ID (This can probably chnage if you want.) -->
                    <div class="playerIDField">
                        <span class="systemColor">Player ID</span>
                        <span id="playerID"></span>
                    </div>
                    <!-- In the game, there's just an empty space, this is to recreate this. -->
                    <div>
                        <span class="systemColor">-</span>
                        <span>-</span>
                    </div>
                    <!-- Their most well-known character. -->
                    <div class="recentCharacterField">
                        <span class="systemColor">Current Character</span>
                        <span id="recentCharacter"></span>
                    </div>
                    <!-- Player current team. -->
                    <div class="teamField">
                        <span class="systemColor">Team</span>
                        <span id="currentTeam"></span>
                    </div>
                    <!-- Player Biography -->
                    <div class="biography">
                        <span id="biography"></span>
                    </div>
                    <!-- The Player's set Sticker -->
                    <div class="stickerField">
                        <!-- Sticker Image-->
                        <div id="idSticker"></div>
                    </div>
                </div>
                <!-- The Picture Section -->
                <div class="cardPictures">
                    <!-- Player Screenshot -->
                    <div id="idPicture"></div>
                </div>
            </main>
        </section>
        <button id="download">Download ARKS ID Card</button>
        <!-- Button to download Arks ID Card as png-->

        <script src="js/upload.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="js/download.js"></script>
        <script src="js/generator.js"></script>
        
    </body>
</html>