<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARKS-ID</title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                        <li><a href="/card">Generate ARKS ID</a></li>
                    </ul>
                </nav>
            </header>
            <div class="pageLogo">
                <img src="/css/assets/logos/ngs_title.png">
            </div>
            <div class="heroContainer">
                <h1>ARKS ID GENERATOR</h1>
                <p>The ARKS Card Generator allows players to create and post there ARKS ID Cards</p>
            </div>
            <div class="sampleContainer">
                <a href="/arks">
                    <article class="sample">
                        <h2>Search ARKS Card</h2>
                        <img src="/css/assets/logos/ngs_arks_logo.jpg">
                        <p>Search for other ARKS ID CARD</p>
                    </article>
                </a>
                <a href="/card">
                    <article class="sample">
                        <h2>ARKS ID Generator</h2>
                        <img src="/css/assets/logos/ngs_arks_logo.jpg">
                        <p>Create your personal ARKS ID Card</p>
                    </article>
                </a>
            </div>
        </main>
        <footer class="socialLink">
            <a href="https://www.linkedin.com/in/jp-devs/"><img class="iconLink" src="/css/assets/logos/icons8-linkedin-50.png" alt="Linkedin Icon"></a>
            <a href="https://github.com/Polymatio"><img class="iconLink" src="/css/assets/logos/icons8-github-50.png" alt="GitHub Icon"></a>
            <a href="https://twitter.com/Polymath_Jesus"><img class="iconLink" src="/css/assets/logos/icons8-twitter-50.png" alt="Twitter Icon"></a>
        </footer>
    </body>
</html>